@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@600&display=swap');

section {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  margin: 100px;
  margin-top: 50px;
  margin-bottom: 0px;
}

html {
  overflow-x: hidden;
}

body {
  background-color: whitesmoke;
}

header {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.logo-txt span {
  color: #20b486;
}

.logo-txt {
  color: #ffc27a;
  font-family: 'PT Serif', serif;
  font-size: 48px;
  font-weight: 600;
}

header ul {
  list-style: none;
  position: relative;
  display: flex;
}

header ul li a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  justify-content: center;
  align-self: center;
  margin: 50px;
  margin-left: 0px;
  font-family: 'Public Sans', sans-serif;
  color: #6d737a;
}

header div {
  font-family: 'Public Sans', sans-serif;
  font-size: 16px;
  margin-top: 0px;
}

header div #login a {
  color: #6d737a;
  text-decoration: none;
  margin-right: 10px;
}

header div #signup a {
  color: #fff;
  background-color: #20b486;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
}

header div #login a {
  text-decoration: none;
}
header div #login svg {
  position: relative;
  top: 4px;
  right: 3px;
}

header ul li a:active {
  color: #20b486;
}
header ul li a:hover {
  color: #ffc27a;
}

#sparkle {
  width: 100%;
  margin-left: 125px;
  margin-top: 115px;
}

.BODY {
  margin-left: 185px;
  margin-top: -50px;
}

.green-text {
  color: #20b486;
}

.gray-black-font {
  color: #1b1d1f;
}

.small-font {
  font-size: 24px;
}

.large-font {
  font-size: 50px;
}

.undelined-font::after {
  background-image: url(assets/Vector\ 1.svg);
  width: 100%;
}

.dark-green-font {
  color: #06241b;
}

.public-sans {
  font-family: 'Public Sans', sans-serif;
}

.flex {
  display: flex;
}

.img {
  position: relative;
  width: 270px;
  height: 350px;
  top: 90px;
  /* scale: 0.8;   */
}

.test {
  background-color: red;
}

.test-2 {
  background-color: green;
}

.imgDiv {
  padding: 0;
}

.gray-text {
  color: #6d737a;
}

.search-section {
  margin-left: 185px;
}

.search-section .search-bar-text {
  margin-left: 30px;
  margin-top: 20px;
}

.search-box {
  padding: 10px;
  border-radius: 10px;
  border-color: transparent;
  border-width: 2px;
  width: 30%;
}

.popular-course-div {
  margin-left: 185px;
  margin-top: 150px;
  display: flex;
  height: 500px;
}

.popular-course-div {
  justify-content: center;
  top: 50%;
  position: relative;
  transform: translate(-50% 0 0 0);
}

.popular-course-text {
  flex: 1;
  margin-right: 50px;
}

.honey-dew-bg {
  background-color: #e9f8f3;
  /* background-color: #06241b; */
}

.swiper-pagination-bullet {
  background-color: #20b486;
}

.slider-card {
  background: white;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.199);
  border-radius: 15px;
  margin: 20px;

  padding: 10px;
  position: relative;
}

.swiper-slide {
  width: 250px;
  height: 350px;
}

.slider-image {
  width: 100%;
  height: 190px;
  border-radius: 15px;
  object-fit: contain;
}

.arrow {
  position: absolute;
  right: 20px;
  top: 83%;
}

.popular-categories-div {
  margin: 150px 0 0 185px;
}

.popular-categories-grid-div {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 80%;
  /* background: red; */
}

.popular-categories-grid-div a {
  color: #6d737a;
  text-decoration: none;
  font-family: 'Public Sans', sans-serif;
}
.popular-categories-grid-div a:hover {
  color: #20b486;
  text-decoration: none;
  font-family: 'Public Sans', sans-serif;
}

.grid_item {
  padding: 30px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  background-color: transparent;
  margin-right: 20px;
}

.grid_item:hover {
  padding: 30px;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #20b486;
  background-color: transparent;
  margin-right: 20px;
}

.grid_item a {
  color: #6d737a;

  text-decoration: none;
}

.category_vectors {
  /* background: #6d737a; */
  stroke: red;
  size: 16px;
}
